{% extends 'base.html.twig' %}

{% block title %}Votre panier!
{% endblock %}

{% block body %}
	<h1>Votre panier</h1>

	{% if items | length > 0 %}
		<table class="table table-hover">
			<thead>
				<tr class="table-light">
					<th scope="col">Produit</th>
					<th scope="col">Prix</th>
					<th scope="col">Quantité</th>
					<th scope="col">Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr class="table-light">
						<td>{{item.product.name}}</td>
						<td>{{item.product.price / 100}}</td>
						<td>
							<a href="{{ path('cart_add', {'id':item.product.id}) }}?returnToCart=true" class="btn btn-sm btn-primary">
								<i class="fas fa-plus"></i>
							</a>
							{{item.qty}}
							<a href="{{ path('cart_decrement', {'id':item.product.id}) }}" class="btn btn-sm btn-primary">
								<i class="fas fa-minus"></i>
							</a>
						</td>
						<td>{{item.getTotal / 100}}</td>
						<td>
							<a href="{{ path('cart_delete', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="table-info">
					<td colspan="2">Nombre d'article :
					</td>
					<td colspan="3">
						{{cartService.AllQty}}
					</td>

				</tr>
				<tr class="table-primary">
					<td colspan="3">TOTAL :</td>
					<td colspan="2">
						{{total / 100}}
					</td>
				</tr>
			</tfoot>
		</table>
		<hr>
		{% if is_granted('ROLE_USER') %}
			<h2>Confirmez votre commande en remplissant ce formulaire</h2>
			{{ form_start(confirmationForm, {'action': path('purchase_confirm')}) }}
			{{ form_errors(confirmationForm) }}
			{{ form_widget(confirmationForm) }}
			<button type="submit" class="btn btn-success">Je confirme !</button>
			{{ form_end(confirmationForm) }}
		{% else %}
			<H2>Vous devez être connecté pour confirmer votre commande</H2>
			<a href="{{ path('security_login')}}" class="btn btn-success">Connexion</a>
			ou
			<a href="#">créez un compte.</a>
		{% endif %}
	{% else %}
		<p>Votre panier est vide !</p>
	{% endif %}

{% endblock %}
